In [34]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import shutil
from matplotlib import rcParams
import cv2

In [33]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
path = "/content/drive/MyDrive/Kaggle/UTKFace"

In [31]:
files = os.listdir(path)
size = len(files)
print(files[3])
print("Total samples:",size)

67_0_0_20170103184144627.jpg.chip.jpg
Total samples: 12

In [ ]:
images = []
ages = []
genders = []
for file in files:
    p=os.path.join(path,file)
    image = cv2.imread(p,0)
    image = cv2.resize(image,dsize=(64,64))
    image = image.reshape((image.shape[0],image.shape[1],1))
    images.append(image)
    split_var = file.split('_')
    ages.append(split_var[0])
    genders.append(int(split_var[1]) )

In [16]:
df =pd.DataFrame({'Image path': images,'Age': ages})
df

                                             Image path Age
0     [[[188], [142], [62], [54], [52], [53], [81], ...  36
1     [[[126], [119], [128], [116], [93], [82], [72]...  54
2     [[[36], [36], [39], [37], [35], [35], [36], [4...  26
3     [[[23], [26], [30], [40], [55], [68], [75], [8...  32
4     [[[60], [52], [47], [47], [56], [67], [82], [9...   6
...                                                 ...  ..
2840  [[[83], [89], [106], [134], [167], [186], [192...  30
2841  [[[123], [187], [107], [151], [165], [216], [1...  72
2842  [[[6], [9], [11], [8], [6], [9], [14], [12], [...  26
2843  [[[24], [24], [24], [24], [24], [24], [25], [2...  37
2844  [[[18], [24], [29], [33], [41], [48], [56], [7...  26

[2845 rows x 2 columns]

In [19]:
sns.set_context('paper')

In [20]:
rcParams['figure.figsize'] = 30,15

In [22]:
path = path
files = os.listdir(path)
data = []
for file in files:
    file_path = os.path.join(path, file)
    age = int(file.split('_')[0])
    data.append([file_path, age])
df = pd.DataFrame(data, columns=['file_path', 'age'])

In [24]:
df['age'].sort_values()
df

                                              file_path  age
0     /content/drive/MyDrive/UTKFace/36_0_0_20170117...   36
1     /content/drive/MyDrive/UTKFace/54_1_0_20170104...   54
2     /content/drive/MyDrive/UTKFace/26_0_1_20170116...   26
3     /content/drive/MyDrive/UTKFace/32_1_0_20170117...   32
4     /content/drive/MyDrive/UTKFace/6_1_1_201701172...    6
...                                                 ...  ...
2888  /content/drive/MyDrive/UTKFace/36_1_1_20170109...   36
2889  /content/drive/MyDrive/UTKFace/66_0_0_20170109...   66
2890  /content/drive/MyDrive/UTKFace/69_0_1_20170113...   69
2891  /content/drive/MyDrive/UTKFace/45_1_0_20170117...   45
2892  /content/drive/MyDrive/UTKFace/18_0_0_20170110...   18

[2893 rows x 2 columns]

In [25]:
import os
path = path
os.makedirs(os.path.join(path, 'LessThan28'), exist_ok=True)
os.makedirs(os.path.join(path, 'GreaterThan29'), exist_ok=True)
for index, row in df.iterrows():
    file_path = row['file_path']
    age = row['age']


    if age <= 28:
        shutil.move(file_path, os.path.join(path, 'LessThan28', os.path.basename(file_path)))
    else :
        shutil.move(file_path, os.path.join(path, 'GreaterThan29', os.path.basename(file_path)))

In [ ]:
path = path
counts = {'LessThan28': 0, 'GreaterThan29': 0}
for age_group in counts.keys():
    folder_path = os.path.join(path, age_group)
    images = [f for f in os.listdir(folder_path) if f.endswith('.jpg')]
    counts[age_group] = len(images)